# language target
language: cpp
compiler: gcc
sudo: require
dist: trusty

# install QT5.12.3 from ppa
install:
  - sudo add-apt-repository -y ppa:beineri/opt-qt-5.12.3-xenial 
  - sudo apt-get update -qq
  - sudo apt-get -y qt512base qt512multimedia qt512quickcontrols qt512quickcontrols2 qt512declarative qt512svg qt512multimedia build-essential g++ make ffmpeg sox libnotify-dev mesa-common-dev libpulse-dev libpulse-mainloop-glib0
  - source /opt/qt*/bin/qt*-env.sh

# build & test scripts
script:
  - qmake mystiq.pro
  - make
  - sudo make install

# make the AppImage bundle
before_deploy:
  - wget -c -nv https://github.com/$(wget -q https://github.com/probonopd/go-appimage/releases -O - | grep "appimagetool-.*-x86_64.AppImage" | head -n 1 | cut -d '"' -f 2)
  - chmod +x ./appimagetool-*.AppImage
  - ./appimagetool-*.AppImage deploy AppDir/usr/share/applications/*.desktop
  - ./appimagetool-*.AppImage AppDir/

# do not build tags that we create when we upload to GitHub Releases
branches:
  except:
    - /^(?i:continuous)/
